#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: "Deploy Website"
on:
  schedule:
    - cron: '45 0 * * *'
  push:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      regression:
        description: "deploy"
        required: false
        default: "deploy"

jobs:
  run-tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - run: pip install -r requirements.txt
      - run: mkdocs gh-deploy --force --remote-branch asf-site
      - run: |
          git config --global user.name  "Celeborn"
          git config --global user.email "dev@celeborn.apache.org"
          git checkout asf-site
      - run: |
          git checkout main -- .gitignore
          git add .gitignore
          git commit -m 'gitignore'
      - run: |
          git checkout main -- '.github/bin/build_docs.sh'
          git add '.github/bin/build_docs.sh'
          git commit -m '.github/bin/build_docs.sh'
      - run: ./.github/bin/build_docs.sh 'heads/main.tar.gz' 'latest'
      - run: ./.github/bin/build_docs.sh 'v0.2.1-incubating/incubator-celeborn-0.2.1-incubating-tm.tar.gz' '0.2.1-incubating'
      - run: ./.github/bin/build_docs.sh 'v0.3.2-incubating/incubator-celeborn-0.3.2-incubating-tm.tar.gz' '0.3.2-incubating'
      - run: ./.github/bin/build_docs.sh 'v0.4.0-incubating/incubator-celeborn-0.4.0-incubating-tm.tar.gz' '0.4.0-incubating'
      - run: ./.github/bin/build_docs.sh 'v0.4.1/v0.4.1.tar.gz' '0.4.1'
      - run: |
          echo 'publish:'           >> .asf.yaml
          echo '  whoami: asf-site' >> .asf.yaml
          git add .asf.yaml
          git commit -m '.asf.yaml'
          git push origin asf-site
